.container {
  max-width: 430px;
  margin-inline: auto;
  position: relative;
  background-color: var(--mui-palette-primary-light);
  .main {
    background-color: var(--mui-palette-background-default);
    min-height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
  }
}
