.container {
  max-width: 430px;
  min-height: 100vh;
  overflow-x: clip;
  margin-inline: auto;
  position: relative;
  background-color: var(--mui-palette-primary-light);

  .main {
    background-color: var(--mui-palette-background-default);
    height: 100%;
  }
}
