.container {
  display: flex;
  gap: 14px;
  flex-direction: row-reverse;

  .item {
    text-align: center;
    font-size: 24px;
    height: 24px;

  }
  .textField {
    &.error {
      
      div {
        color: var(--mui-palette-error-main);
        fieldset {
          border: 2px solid var(--mui-palette-error-main);
        }
      }
    }
  }
}

