.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .resendCode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--mui-palette-text-secondary);
  }
}
