.container {
  min-height: 100vh;

  .hero {
    height: 207px;
    border-radius: 0 0 16px 16px;
    background-color: var(--mui-palette-primary-main);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .logo {
    margin-inline: auto;
    display: block;
    margin-top: 20px;
  }

  .paper {
    margin: 19px 24px 0;
    border-radius: 16px;
    padding: 24px;
  }
}
